* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #fff;
    font-family: "Playfair Display", serif;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fdc434;
}

section {
    scroll-margin-top: 80px;
    /* same height as navbar */
}

#headerName,
.contents {
    font-weight: 700;
    font-size: 1.5rem;
    color: #25282B;
    margin: 1rem 1rem 0.5rem 4rem;
}

.devImage {
    height: 67.2%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.navLink.active {
    color: #fff;
    font-weight: bold;
}

.content h3 {
    cursor: pointer;
}

.hamburgerMenu {
    display: none;
}

.hamburgerButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fdc434;
}

.contents {
    color: #25282B;
}

.endImage {
    height: 30%;
    width: 100%;
}

.logoImage {
    height: 65%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0px;
    z-index: -1;
}

.profession {
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
    color: #fdc434;
    margin-top: 0.5rem;
    font-weight: 300;
    overflow: hidden;
    border-right: .15em solid #fdc434;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

.welcome {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    color: #25282B;
    margin-top: 0.5rem;
    font-weight: 700;
    width: 80%;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #fdc434;
    }
}

#intro {
    width: 40%;
    margin: 6.5%;
}

#skills-container {
    display: flex;
    justify-content: center;
    margin: 0 6rem;
    padding: 0 1rem;
}

.insideCircle {
    background-color: #fff;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#fdc434 calc(var(--percentage) * 1%),
            #828282 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
}

.skillText {
    text-align: center;
    margin-top: 0.5rem;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    color: #25282B;
    font-weight: 500;
}

.circle span {
    position: absolute;
    font-size: 1.2rem;
    font-weight: bold;
}

.percentageData {
    text-align: center;
    position: absolute;
    top: 40%;
    right: 30%;
}

.description {
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    color: #828282;
    margin: 1rem 1%;
    font-weight: 300;
    width: 80%;
}

.tech-stack {
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    color: #828282;
    margin: 1rem 1%;
    font-weight: 300;
    width: 80%;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10rem;
    padding: 0 1rem;
}

.aboutPara {
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    color: #828282;
    margin: 1rem 1%;
    font-weight: 300;
    text-align: center;
}

.aboutPara span {
    display: block;
    text-align: left;
}

.btns {
    display: flex;
    gap: 1rem;
    margin: 1rem 1%;
}

.know-me-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 85%;
}

.projects {
    text-decoration: none;
    color: #25282B;
    background-color: #fdc434;
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
    font-weight: 500;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #fdc434;
    margin: 1.6rem 0;
    display: flex;
}

.cardPostman {
    text-decoration: underline;
    color: #25282B;
    padding: 0.2rem 0.8rem;
    border-radius: 7px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.line {
    width: 5%;
    height: 3px;
    background-color: #fdc434;
    margin: 0.6rem 0 1rem 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.heading {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: #25282B;
    margin-top: 0.5rem;
    font-weight: 700;
    margin-left: 1rem;
    text-align: center;
}

.side-heading {
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    color: #25282B;
    margin-top: 0.5rem;
    font-weight: 700;
    text-align: left;
}

.side-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 10%;
    justify-self: flex-start;
    margin: 0 12rem;
}

.side-line {
    width: 85%;
    height: 3px;
    background-color: #fdc434;
    display: flex;
    align-items: flex-start;
}

.skill-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px #c2c0c0;
    padding: 1rem;
    margin: 1rem;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-self: center;
}
.skill-card:hover{
transform: translateY(-10px); 
box-shadow: 0 10px 12px #999797;

}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-self: center;
}

.cardStack {
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    color: #25282B;
    margin-top: 0.5rem;
    font-weight: 500;
    text-align: left;
    padding: 0 1rem;
}

.skill-cardList {
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    color: #828282;
    margin-top: 0.5rem;
    font-weight: 300;
    text-align: left;
    list-style-type: "-";
}

.cardList {
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    color: #828282;
    margin-top: 0.5rem;
    font-weight: 300;
    text-align: left;
    list-style: none;
    padding: 0 1rem;
}

.cardList li {
    display: inline;
    text-align: left;
}

.cardList li:not(:last-child)::after {
    content: ", ";
}

.card:hover {
    transform: translateY(-5px);
}

.skill-cardTitle {
    font-family: "Playfair Display", sans-serif;
    font-size: 1rem;
    color: #25282B;
    font-weight: 600;
    gap: 2rem;
    text-align: left;
}

.cardTitle {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    color: #25282B;
    margin-top: 0.5rem;
    font-weight: 700;
    text-align: left;
    padding: 0 1rem;

}

.skill-cardDescription {
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    color: #828282;
    margin-top: 0.5rem;
    font-weight: 300;
    text-align: left;
    padding: 0 0.5rem;
}

.cardDescription {
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    color: #828282;
    margin-top: 0.5rem;
    font-weight: 300;
    text-align: left;
    padding: 0 1rem;
}

.list-item {
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    color: #828282;
    margin-top: 0.5rem;
    font-weight: 300;
    text-align: left;
}

.cardButton {
    text-decoration: none;
    color: #25282B;
    background-color: #fdc434;
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
    font-weight: 500;
    border: none;
    margin: 1rem 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.cardImage {
    width: 40%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
}

.contact-me {
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 1%;
    width: 30%;
    display: flex;
    justify-content: center;
    justify-self: center;
}

.contact-heading {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: #25282B;
    margin-top: 0.5rem;
    font-weight: 700;
    text-align: center;
}

.contact-description {
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    color: #828282;
    margin-top: 0.5rem;
    text-align: center;
}

.contactInput {
    padding: 0.5rem;
    border: 1px solid #828282;
    border-radius: 5px;
    font-size: 1rem;
    margin: 1rem 0;
    outline: none;
}

.contactInput:focus {
    border-color: #fdc434;
    color: #828282;
}

.sendButton {
    cursor: pointer;
    text-decoration: none;
    color: #25282B;
    background-color: #fdc434;
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
    font-weight: 500;
    border: none;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    width: 10%;
    align-self: flex-end;
    font-family: "Nunito", sans-serif;
}

.footer {
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#endCreds {
    color: #828282;
    text-align: center;
    padding: 1rem;
    width: 100%;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.footerImages {
    width: 2rem;
    height: 2rem;
}

/* MOBILE */
@media (max-width: 768px) {

    .content {
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #fdc434;
        flex-direction: column;
        width: 50%;
        text-align: left;
        padding: 1rem 0;
        display: none;
        color: #fff;
        margin-left: 2rem;
        opacity: 0.9;
    }

    .navBar {
        width: 100%;
    }

    .contents {
        color: #fff;
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
    }

    .content.active {
        display: flex;
    }

    .bar {
        background-color: #fff;
    }

    .logo,
    .logoImage {
        display: none;
    }

    .hamburgerMenu {
        display: block;
    }

    .card {
        max-width: 90%;
    }

    .description {
        width: 200%;
    }

    .welcome {
        font-size: 3rem;
        width: 200%;
    }

    .profession {
        font-size: 0.9rem;
        width: 200%;
    }

    .btns {
        display: flex;
        justify-content: center;
        width: 200%;
    }

    #aboutMe {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
    }

    .aboutPara {
        width: 90%;
        text-align: left;
    }

    .aboutPara span {
        display: block;
    }

    #cardContainer {
        width: 100%;
    }

    .card {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .cardTitle,
    .contact-me {
        width: 90%;
    }

    .cardDescription {
        width: 100%;
    }

    .cardImage {
        width: 100%;
        height: auto;
    }

    .line {
        width: 20%;
        justify-self: center;
        align-items: center;
    }

    #skills-container {
        display: inline;
        flex-direction: column;
        width: 90%;
    }

    .skill-card {
        width: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 1em 1rem;
    }
    .skill-card:hover{
        transform: translateY(-5px); 
        box-shadow: 0 10px 12px #999797;
    }
    .tech-stack {
        width: 200%;
    }

    .know-me-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .side-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .side-line {
        display: none;
    }

    .side-container {
        display: inline;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
    }

    .card:nth-child(odd) {
        flex-direction: column-reverse;
         width: 90%;
         display: flex;
         text-align: left;
    }

}