 * {
     font-family: "Comfortaa", sans-serif;

 }

 body {
     margin: 0;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: Arial, sans-serif;
     background: #ffffff;
     text-align: center;
 }

 .box {
    max-width: 400px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    text-align: center;
    justify-self: center;
 }

 h1 {
     font-size: 24px;
     margin-bottom: 10px;
     color: #25282B;
 }

 p {
     color: #828282;
 }

 a {
     display: inline-block;
     margin-top: 20px;
     text-decoration: none;
     background: #fdc434;
     color: #fff;
     padding: 10px 20px;
     border-radius: 6px;
 }